In [2]:
變數一 = 1

In [3]:
變數一

1

In [4]:
a = b = c = 20

In [5]:
a , b , c

(20, 20, 20)

In [6]:
age , name = 18 , "yu-kai"

In [7]:
age , name

(18, 'yu-kai')

In [9]:
A = B = C= 50

In [11]:
A , B , C , a , b , C

(50, 50, 50, 20, 20, 50)

In [12]:
早餐 = 50

In [13]:
午餐 = 200

In [14]:
餐費 = 早餐 + 午餐

In [15]:
print (餐費)

250

In [16]:
d = 5
e = 79
f = 9

In [17]:
d

5

In [18]:
f

9

In [19]:
e

NameError: name 'e' is not defined

In [20]:
e

NameError: name 'e' is not defined

In [21]:
週三氣溫 = 33
週四氣溫 = 32 
週五氣溫 = 33
週六氣溫 = 33

In [22]:
四天溫度 = (週三氣溫 + 週四氣溫 + 週五氣溫 + 週六氣溫)/4

In [24]:
print(四天溫度)

32.75

In [25]:
週三氣溫 , 週四氣溫 , 週五氣溫 , 週六氣溫 = 33 , 32 , 33 , 33

In [26]:
四天溫度 = (週三氣溫 + 週四氣溫 + 週五氣溫 + 週六氣溫)/4

In [27]:
print(四天溫度)

32.75

In [28]:
print(((週三氣溫 + 週四氣溫 + 週五氣溫 + 週六氣溫)/4))

32.75

In [29]:
一天 = 350

In [30]:
一周 = 一天*7

In [31]:
一個月 = 一周*4

In [32]:
print(一周)

2450

In [33]:
print(一個月)

9800